dashboard_fuzzyDP.json
[{"id":"23de3f61.9e7c3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6debc8d6.593018","type":"function","z":"23de3f61.9e7c3","name":"","func":"var output = msg.payload.split(\";\");\n\nvar nivel = parseFloat(output[0]);\nvar potencia = parseFloat(output[1]);\nvar erro = parseFloat(output[2]);\nvar derro = parseFloat(output[3]);\nvar pv = parseFloat(output[4]);\n\nvar msg1 = {payload:nivel};\nvar msg2 = {payload:potencia};\nvar msg3 = {payload:erro};\nvar msg4 = {payload:derro};\n\n\nmsg1.topic = \"nível\";\nmsg2.topic = \"potência\";\nmsg3.topic = \"erro\";\nmsg4.topic = \"derro\";\n\nreturn[msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["8c7283ea.acb02","c38a64bc.d3c4c8","ef617ac5.5bd408"],["a6e25996.7ca1b8"],["53601ed8.f941"],["7efcacd7.5471b4"]]},{"id":"c6f7ec46.89369","type":"serial in","z":"23de3f61.9e7c3","name":"COM2","serial":"44474ac2.504e44","x":90,"y":220,"wires":[["6debc8d6.593018"]]},{"id":"a6e25996.7ca1b8","type":"ui_gauge","z":"23de3f61.9e7c3","name":"","group":"86823dff.1fd08","order":2,"width":4,"height":4,"gtype":"donut","title":"Potência da Bomba","label":"[%]","format":"{{value}}","min":0,"max":"100","colors":["#4130c0","#e600cb","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[],"inputLabels":["Label3"]},{"id":"a8b3e1a1.8247d","type":"ui_button","z":"23de3f61.9e7c3","name":"","group":"31880b49.c06bd4","order":6,"width":4,"height":1,"passthru":true,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":100,"y":380,"wires":[["a607a98d.026468"]]},{"id":"74d51cde.d6c614","type":"function","z":"23de3f61.9e7c3","name":"","func":" var newMsg = {payload: msg.payload};\n      newMsg.topic = \"sp\";\n return newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[[]]},{"id":"9d7751b8.b2809","type":"serial out","z":"23de3f61.9e7c3","name":"","serial":"90879976.3276e8","x":650,"y":380,"wires":[]},{"id":"c38a64bc.d3c4c8","type":"ui_text","z":"23de3f61.9e7c3","group":"31880b49.c06bd4","order":1,"width":4,"height":1,"name":"","label":"Nível Atual (PV): ","format":"{{msg.payload}}","layout":"row-left","x":720,"y":120,"wires":[]},{"id":"ef617ac5.5bd408","type":"ui_chart","z":"23de3f61.9e7c3","name":"","group":"31880b49.c06bd4","order":4,"width":0,"height":0,"label":"Controle de Nível","chartType":"line","legend":"false","xformat":"mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#76a4f9","#be4646","#2fb8d0","#ffffff","#ffffff","#ffffff","#ffffff","#ffffff","#ffffff"],"outputs":1,"x":730,"y":160,"wires":[[]]},{"id":"8c7283ea.acb02","type":"ui_gauge","z":"23de3f61.9e7c3","name":"","group":"86823dff.1fd08","order":12,"width":4,"height":4,"gtype":"wave","title":"Nível da Água","label":"cm","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":80,"wires":[],"info":"Altura do tanque: 20cm"},{"id":"a607a98d.026468","type":"ui_numeric","z":"23de3f61.9e7c3","name":"","label":"SP","tooltip":"","group":"31880b49.c06bd4","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"20","step":1,"x":250,"y":380,"wires":[["74d51cde.d6c614"]]},{"id":"53601ed8.f941","type":"ui_gauge","z":"23de3f61.9e7c3","name":"","group":"5292702f.96bb4","order":3,"width":6,"height":4,"gtype":"gage","title":"ERRO","label":"cm","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"7efcacd7.5471b4","type":"ui_gauge","z":"23de3f61.9e7c3","name":"","group":"5292702f.96bb4","order":1,"width":0,"height":0,"gtype":"gage","title":"D_ERRO","label":"cm","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":280,"wires":[]},{"id":"44474ac2.504e44","type":"serial-port","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"86823dff.1fd08","type":"ui_group","name":"Saída","tab":"dd23ff36.21b6c","order":3,"disp":true,"width":6,"collapse":false},{"id":"31880b49.c06bd4","type":"ui_group","name":"Controle","tab":"dd23ff36.21b6c","order":1,"disp":true,"width":8,"collapse":false},{"id":"90879976.3276e8","type":"serial-port","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5292702f.96bb4","type":"ui_group","name":"Erros","tab":"dd23ff36.21b6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"dd23ff36.21b6c","type":"ui_tab","name":"Fuzzy DP","icon":"dashboard","order":1,"disabled":false,"hidden":false}]