dashboard_fuzzyDP.json
[{"id":"23de3f61.9e7c3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6debc8d6.593018","type":"function","z":"23de3f61.9e7c3","name":"","func":"var output = msg.payload.split(\";\");\n\nvar nivel = parseFloat(output[0]);\nvar erro = parseFloat(output[1]);\nvar potencia = parseFloat(output[2]);\n\nvar msg1 = {payload:nivel};\nvar msg2 = {payload:erro};\nvar msg3 = {payload:potencia};\n\nmsg1.topic = \"Line1\";\nmsg2.topic = \"Line2\";\nmsg3.topic = \"Line3\";\n\nreturn[msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["38fdca91.7282a6"],["6e64c57.c92a03c"],["a6e25996.7ca1b8"]]},{"id":"c6f7ec46.89369","type":"serial in","z":"23de3f61.9e7c3","name":"COM2","serial":"90879976.3276e8","x":90,"y":220,"wires":[["6debc8d6.593018"]]},{"id":"a6e25996.7ca1b8","type":"ui_gauge","z":"23de3f61.9e7c3","name":"potencia","group":"5292702f.96bb4","order":4,"width":"0","height":"0","gtype":"compass","title":"Potência","label":"[%]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":300,"wires":[],"inputLabels":["Label3"]},{"id":"38fdca91.7282a6","type":"ui_chart","z":"23de3f61.9e7c3","name":"","group":"31880b49.c06bd4","order":0,"width":0,"height":0,"label":"nível","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":470,"y":140,"wires":[[]]},{"id":"6e64c57.c92a03c","type":"ui_gauge","z":"23de3f61.9e7c3","name":"","group":"5292702f.96bb4","order":1,"width":0,"height":0,"gtype":"gage","title":"Erro","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":220,"wires":[]},{"id":"90879976.3276e8","type":"serial-port","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5292702f.96bb4","type":"ui_group","name":"Erros","tab":"dd23ff36.21b6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"31880b49.c06bd4","type":"ui_group","name":"Controle","tab":"dd23ff36.21b6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd23ff36.21b6c","type":"ui_tab","name":"Resposta","icon":"dashboard","order":1,"disabled":false,"hidden":false}]