dashboard_fuzzyDP.json
[{"id":"23de3f61.9e7c3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6f7ec46.89369","type":"serial in","z":"23de3f61.9e7c3","name":"COM2","serial":"90879976.3276e8","x":180,"y":220,"wires":[["6debc8d6.593018"]]},{"id":"6debc8d6.593018","type":"function","z":"23de3f61.9e7c3","name":"","func":"var output = msg.payload.split(\";\");\n\nvar nivel = parseFloat(output[0]);\nvar erro = parseFloat(output[1]);\nvar potencia = parseFloat(output[2]);\nvar setpoint = parseFloat(output[3]);\n\nvar msg1 = {payload:nivel};\nvar msg2 = {payload:erro};\nvar msg3 = {payload:potencia};\nvar msg4 = {payload:setpoint};\n\nmsg1.topic = \"Line1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["35c000bb.f9d27"]]},{"id":"d49b18b5.0e81a8","type":"serial in","z":"23de3f61.9e7c3","name":"COM2","serial":"90879976.3276e8","x":390,"y":360,"wires":[["9a8353c1.e2fca"]]},{"id":"9a8353c1.e2fca","type":"function","z":"23de3f61.9e7c3","name":"","func":"var newMsg = {payload: msg.payload};\n      newMsg.topic = \"Line2\";\n   return newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["9eaafeb6.480b4"]]},{"id":"35c000bb.f9d27","type":"ui_gauge","z":"23de3f61.9e7c3","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"ERRO","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":220,"wires":[]},{"id":"9eaafeb6.480b4","type":"ui_button","z":"23de3f61.9e7c3","name":"","group":"","order":0,"width":0,"height":0,"passthru":false,"label":"SP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":360,"wires":[[]]},{"id":"90879976.3276e8","type":"serial-port","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]